<a href="https://colab.research.google.com/github/gumdropsteve/intro-data-science/blob/master/learn_to_code_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learn to Code: Introduction to Python

Brought to you by Galvanize. Learn more about the way we teach at [galvanize.com](http://galvanize.com).


Learn more Python and much more with Galvanize Data Science Premium Prep! Currently free if you sign up now! [http://bit.ly/2u0cahU](http://bit.ly/2u0cahU)

### Comments

In [0]:
# This is a comment. It will not do anything as code
# But it is super useful to document what your code is doing!

### Printing

In [1]:
# Printing an output in python

print("Hello, Winston")

Hello, Winston

### Variables

Variables are a way to store information. This is super useful! You can then receive or update the variable in your program. You'll see this later!

Think of it as naming a piece of data.

its common in programming languages to have a keyword before the variable such as var or int, but python does not need this.

In [2]:
twitter = "@winstonrobson_"
score = 0

print(score)
print(twitter)

0
@winstonrobson_

#### Challenge:
Create a variable called name and assign it your name. Use the print() function to print out the variable value.

In [0]:
# Write you Code Here!
name = "San Francisco"
print (name)

San Francisco

## Interact with users

Getting input from the command line can be useful.

To do that we will use the `input` function. And we want to assign that input to a variable.

`guess = input("enter guess")`

Print will output text to the terminal

```
guess = input("enter guess: ")
print("Your guess was {}".format(guess))
```

In [3]:
input("What is your name? ")

What is your name? Winston

'Winston'

---
### Challenge:

Create a variable called `name` and ask a user for their name using the `input` function.

Print out the name.

In [4]:
name = input("I'm looking for some input... ")
print(name)

I'm looking for some input... Winston
Winston

### Data Structures(Data Types):

We're going to stick with the basics, so We wont be going over EVERY data type in Python, but you you can read a more comprehensive list [here](https://docs.python.org/3/library/stdtypes.html#dict).  

Feel free to try these different data types out in your code!

#### Numbers:

Numbers are written just like you would think. Just the number! No quotes or symbols to worry about. If you do put quotes around a number it will become a string (see next)

`25` `100`

Multiple, Add, Divide, Compare, remainder

- `5 * 5` | output: 25
- `5 + 5` | output: 10
- `8 / 2` | output: 4
- `8 > 2` | output: true
- `8 % 8` | output: 0

In [0]:
print(5 * 5)
print(5 + 5)
print(5/2)
print(8 > 2)
print(8 % 8)

25
10
2.5
True
0

#### Strings:
Strings can be a collection of letters, symbols and/or numbers. They are made by surrounding the content with quotation marks.

`"Hello, World."`

`"CrAzy Random String 987879896jvdjvda &&(&(@*(*"`

In [0]:
# Three ways of defining a string. 
# make sure you begin and end with same quotation set

singlequote = 'A string in Single quotes!'
doublequote = "A string in Double quotes!"
triplequote = '''A string in ' " Triple single quotes!'''

print(singlequote)
print(doublequote)
print(triplequote)

A string in Single quotes!
A string in Double quotes!
A string in ' " Triple single quotes!

In [0]:
""# If you're unsure what data will be in your string
# Triple quotes is the safest to use
# It will prevent a single or double quotation mark breaking the string

triplesafe = '''A string ' in " Triple single quotes!'''
print(triplesafe)

A string ' in " Triple single quotes!

In [0]:
# Can we add strings together? Try it out!
print(singlequote + doublequote)

A string in Single quotes!A string in Double quotes!

##### Variables in strings

Often we will want to add in variables to a string. 

Imagine having someones name, age, etc... populate into a string depending on the user.

As you'll see below there are several ways of doing this!

In [0]:
# Lets create some variables to work with
# Feel Free to change them or create your own!

name = "Winston"
city = "San Francisco"
career = "Programmer"
age = 21

##### Concatenation

You can add variables into string by breaking up the string into bits and adding a varible in between them. 

This gets pretty messy really fast. Its harder to change the sentence in the future, you have to add spaces at teh begining or or ends of strings. You have to convert numbers into strings if you want to use them.

In [6]:

# concatenation 
concatstring =  "Hello, my name is " + name + ". I am " + career + " in " + city + ". I am " + str(age)+ " years old."

print(concatstring)

Hello, my name is Winston. I am Programmer in San Francisco. I am 21 years old.

In [7]:
# More common way
placeholderstring =  "Hello, my name is {}. I am a {} in {}. I am {} years old.".format(name, career, city, age)

print(placeholderstring)

Hello, my name is Winston. I am a Programmer in San Francisco. I am 21 years old.

In [8]:
# you can specify which variable is used where
placeholderorder =  "Hello, my name is {0}. I am a {1} in {2}. I am {3} years old.".format(name, career, city, age)

print(placeholderorder)

Hello, my name is Winston. I am a Programmer in San Francisco. I am 21 years old.

In [9]:
# Fstring
# My favorite way!

fstring = f"Hello, my name is {name}. I am a {career} in {city}. I am {age} years old."

print(fstring)

Hello, my name is Winston. I am a Programmer in San Francisco. I am 21 years old.

---
### Challenge 1:

Using the `input()` function ask a user for there name. Then print out a sentence using the name.

In [10]:
name = input("Enter your name...")
string = f"Hello, my name is {name}."

print(string)

Enter your name...Winston
Hello, my name is Winston.

#### Booleans:
You can think of Booleans as yes(true) and no(false)

`True` `False`

We'll go into how to use these in a little bit. For now just remember they exist!

#### Lists (Arrays)

Often used to store a list of values.

In [0]:
tvshows = ['West World','The Office', 'Game of Thrones']
print(tvshows)

['West World', 'The Office', 'Game of Thrones']

In [0]:
# print single item. Index starts at zero
print(tvshows[3])

IndexError: ignored

In [0]:
# Update an item in an array
print(tvshows[0])
tvshows[0] = "Breaking Bad"
print(tvshows[0])
print(tvshows)

Breaking Bad
Breaking Bad
['Breaking Bad', 'The Office', 'Game of Thrones']

In [0]:
# Add to an array
tvshows.append("Breaking Bad Movie" " Hero Movie")
print(tvshows)

['Breaking Bad', 'The Office', 'Game of Thrones', 'Breaking Bad Movie', 'Breaking Bad MovieHero Movie', 'Breaking Bad Movie Hero Movie']

In [0]:
# Remove from an array
tvshows.remove("Game of Thrones")
print(tvshows)

ValueError: ignored

In [0]:
# Or if you want to get rid of a certain part of the list

tvshows.remove(tvshows[1])
print(tvshows)

['Breaking Bad', 'Breaking Bad Movie', 'Breaking Bad MovieHero Movie', 'Breaking Bad Movie Hero Movie']

#### Dictionary (Dict)

Dictionaries can also be used to store values, but they are indexed.

In [0]:
person =	{
  "name": "Bob",
  "age": 50,
  "occupation": 'programmer'
}
# print(person)
print(person['age'])

50

In [0]:
# add 
person['name'] = 'San Francisco'  
print(person)

{'name': 'San Francisco', 'occupation': 'programmer', 'city': 'San Francisco'}

In [0]:
# Remove
del person['age']
print(person)

KeyError: ignored

read more about python dictionaries[here](https://www.w3schools.com/python/python_dictionaries.asp).

## Comparison Operators:
Comparison Operators are used quite frequently in programming. Its a great way to compare and use data.

Again we won't cover ALL of the comparison operators in this workshop, but you can see a full list of them [here](https://docs.python.org/3/library/stdtypes.html#comparisons)

- `==` Equal
- `!=` Not Equal
- `>` Greater Than
- `>=` Greater Than or Equal
- `<` Less Than
- `<=` Less Than or Equal

Example:

`current_score >= highest_score`
This would return a boolean value. Depending on the values of these variables this would return either `True` or `False`. Try it in your console using numbers instead of variables!

In [0]:
print(8 == 8)
print(8 != 8)
print(8 > 2)
print(8 >= 8)
print(8 < 12)
print(8 <= 8)

True
False
True
True
True
True

## Conditionals

When writing a program you'll often want to check if data meets a certain condition or not. We can use conditionals to make decision about our data and create different outcomes

 In javascript you'll often use the `if` statement. This may be followed by `else if` or `else` depending on how many conditions need to be checked.

Example:

```
 if guess == answer:
      message = "You Win!"
  elif guess < answer:
      message = "Your guess is too low!"
  elif guess > answer:
      message = "your guess is too high!";
  else:
    message = "I think you entered something wrong..."

```

In [0]:
guess = 6
answer = 5

if guess == answer:
  message = "You Win!"
elif guess < answer:
  message = "Your guess is too low!"
elif guess > answer:
  message = "your guess is too high!";
else:
    message = "I think you entered something wrong..."
    
print(message)

your guess is too high!

### Multiple Conditionals

Use the keyword `and` or `or` between muliple conditionals. 

`or` if you want to run code when either condition is met

`if i == 0 or i == 1:`

`and` if you want to run the code when all conditions are met.

`if i == 0 and x == 4:`

In [0]:
if guess == answer:
  message = "You Win!"

### Challenge #2

- make a variable with with a numerical value. 
- using the `if`, `elif`, and `else` make your program print something different depending on the value in your variable.

In [0]:
num = 7
if num == 7:
  print("its 7!!")
elif num < 6:
  print("hellollloooo less than 6")
else:
  print("its high")

its 7!!

## Loops
We're going to go over some of the basic loops in python, but yet again we're not going to cover everything, so you may want to read more about loops [here](https://www.learnpython.org/en/Loops).

Loops are used when you want to repeat something. You can repeat the exact same thing, or change some variable and repeat the action again.

the two common types of loops are `for` and `while`.
`for` loops are often used to run a loop a specified amount of time.

`while` loops are often used to run a loop indefinitely until certain criteria are met.

For loops:

In [0]:
#This `for` loop will run 5 times, and print out the value of `x` to the console. 

lis = ["hello", "hi"]

for num in range(4):
    print(num)

0
1
2
3

For loops are often used to loop through variables containing lists and dicts to get the individual values stored in them. We'll look at this soon!

read more on for loops [here](https://www.w3schools.com/python/python_for_loops.asp)

**while loop**:

In [0]:
count = 1
while count <= 5:
    print(count)
    count += 1  # This is the same as count = count + 1

1
2
3
4
5

read more on while loops [here](https://www.w3schools.com/python/python_while_loops.asp)

### Challenge #3
[Fizzbuzz](https://en.wikipedia.org/wiki/Fizz_buzz) and variations of it is a popular interview question. 

"From 1 to 100.

For each multiple of 3, print "Fizz" instead of the number. 

For each multiple of 5, print "Buzz" instead of the number. 

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number."

Lets break it down and solve it together!

In [0]:
# Lets do fizzbuzz!
# How should break down this problem and start?

In [0]:
for i in range(1,101):
  if i%5 == 0 and i%3 == 0:
    print("FizzBuzz")
  elif i%5 == 0:
    print("Buzz")
  elif i%3 == 0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### Answer Key

#### Challenge 1

In [0]:
name = input("name please...")
string = f"Hello, my name is {name}."

print(string)

Hello, my name is keenan.

#### Challenge 2

In [0]:
num = 1
if num == 7:
  print("its 7")
elif num < 6:
  print("hellollloooo less than 6")
else:
  print("its high")

#### FizzBuzz Challenge

In [0]:
for i in range(1,101):
  if i%5 == 0 and i%3 == 0:
    print("FizzBuzz")
  elif i%5 == 0:
    print("Buzz")
  elif i%3 == 0:
    print("Fizz")
  else:
    print(i)

## [<< back to git repo >> ](https://github.com/gumdropsteve/intro-data-science)